
<div class="row">
    <div class="col">
        <h3>Sign Up</h3>
        <form method="POST" action="signup">
        
            <div class="mb-3">
                <input class="form-control" type="text" name="username" id="username" placeholder="Your Name">
            </div>
            <div class="mb-3">
                <input class="form-control" type="password" name="password" id="password" placeholder="Your Password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

                <div class="alert alert-danger" role="alert">
                    <a href="">login page</a>.
                </div>
    </div>
</div>
